@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;600;700 & display=swap');
:root
{
    --azul:#B97375;
    --azulOscuro:#F1E4E8;
    --azulGris:#F1E4E8;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
    --color-title:#001A49;
}

html
{
    box-sizing: border-box;
}

*,*::after, *::before
{
    box-sizing: inherit;
}

body
{
    background-image: url('../img/patitas2.png');
    font-family: var(--fuente);
    background-color: var(--azulOscuro);
    font-family: 'Poppins', sans-serif; 
    height: 98vh;
}

.break 
{
    flex-basis: 100%;
    height: 0;
}
    
.contenedor
{
    width: 92vw;
    height: 96vh;
    margin: auto; 
    margin-top: 2vh;  
}

.imagen-formulario
{
    display: block;
    background-image: url('../img/3dogs.jpg');
    background-position: center center;
    background-size: cover;
    height: 35%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.imagen-formulario::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );  
    border-radius: 20px 20px 0px 0px;
}

.formulario
{
    box-sizing: border-box;
    display: inline-block;
    padding-top: 2vh;
    background-color: var(--azul);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height:65%;
}

.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p
{
    color: var(--blanco);
}

.texto-formulario h2
{
    font-size: 1.3em;
    text-align: center;
}

.texto-formulario p
{
    font-size: 1em;
    text-align: center;
}

.input label
{
    display: block;
    font-size: 0.8em;
    margin-top: 1vh;
    margin-left: 10%;
    font-weight: bold;
    line-height: 2em;
}

.password-olvidada a
{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}

.input input
{
    display:block;
    width: 80%;
    margin: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 5px;
    outline: none;
    font-size:1em;
    border: 0
}

.input input[type="submit"]
{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 1em;
    font-weight: bold;
    border: none;
    margin-top: 3vh;
    transition: background-color .3s ease-in-out;
}

.input input[type="submit"]:hover{

    cursor: pointer;
    background-color: var(--azulOscuro);
}

 /*----------------------------------------------------- Celulares / Smartphones (Horizontal)---------------- */
@media only screen and (min-width: 500px)
{
    body
    {
        height: 120vh;
    }

    .contenedor
    {
        height: 117vh;
    }

    .imagen-formulario
    {
        display: block;
        background-image: url('../img/3dogs.jpg');
        background-position: center center;
        background-size: cover;
        height: 35%;
        position: relative;
        border-radius: 20px 20px 0px 0px;
    }

    .imagen-formulario::before
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );  
        border-radius: 20px 20px 0px 0px;
    }

    .formulario
    {
        box-sizing: border-box;
        display: inline-block;
        padding-top: 2vh;
        background-color: var(--azul);
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height:65%;
    }

    .texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p
    {
        color: var(--blanco);
    }

    .texto-formulario h2
    {
        font-size: 1.3em;
        text-align: center;
    }

    .texto-formulario p
    {
        font-size: 1em;
        text-align: center;
    }

    .input label
    {
        display: block;
        font-size: 0.8em;
        margin-top: 1vh;
        margin-left: 10%;
        font-weight: bold;
        line-height: 2em;
    }

    .password-olvidada a
    {
        display: inline-block;
        margin-top: 20px;
        font-size: 22px;
    }

    .input input
    {
        display:block;
        width: 80%;
        margin: auto;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        border-radius: 5px;
        outline: none;
        font-size:1em;
        border: 0
    }

    .input input[type="submit"]
    {
        background-color: var(--azulGris);
        color: var(--blanco);
        font-size: 1em;
        font-weight: bold;
        border: none;
        margin-top: 3vh;
        transition: background-color .3s ease-in-out;
    }

    .input input[type="submit"]:hover{

        cursor: pointer;
        background-color: var(--azulOscuro);
    }
}
 
 /*----------------------------------------------------------------------------- Tabletas -------------------*/
@media only screen and (min-width: 767px) and (min-height: 450px)
{
    body
    {
        background-image: url('../img/patitas2.png');
        font-family: var(--fuente);
        background-color: var(--azulOscuro);
        font-family: 'Poppins', sans-serif; 
        height: 98vh;
    }
     
    .break 
    {
        flex-basis: 100%;
        height: 0;
    }
     
    .contenedor
    {
        width: 92vw;   
        height: 90vh;  
        margin: auto;  
        margin-top: 5vh;
    }

    .imagen-formulario
    {
        display: block;
        background-image: url('../img/3dogs.jpg');
        background-position: center center;
        background-size: cover;
        height: 40%;
        position: relative;
        border-radius: 20px 20px 0px 0px;
    }
    
    .imagen-formulario::before
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );  
        border-radius: 20px 20px 0px 0px;
    }
    
    .formulario
    {
        box-sizing: border-box;
        display: inline-block;
        padding-top: 2vh;
        background-color: var(--azul);
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height:60%;
    }

    .texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p
    {
        color: var(--blanco);
    }    

    .input label
    {
        display: block;
        margin-top: 1vh;
        margin-left: 10%;
        font-weight: bold;
        line-height: 2em;
    }

    .password-olvidada a
    {
        display: inline-block;
        margin-top: 20px;
        font-size: 22px;
    }

    .input input
    {
        display:block;
        width: 80%;
        margin: auto;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 10px;
        border-radius: 5px;
        outline: none;
        border: 0
    }

    .input input[type="submit"]
    {
        background-color: var(--azulGris);
        color: var(--blanco);
        font-weight: bold;
        border: none;
        margin-top: 3vh;
        transition: background-color .3s ease-in-out;
    }

    .input input[type="submit"]:hover{
    
        cursor: pointer;
        background-color: var(--azulOscuro);
    }
}
 
 /*---------------------------------------------------------------------------- Laptops ---------------------*/
@media only screen and (min-width: 992px) 
{
    body
    {
        background-image: url('../img/patitas2.png');
        font-family: var(--fuente);
        background-color: var(--azulOscuro);
        font-family: 'Poppins', sans-serif; 
    }
     
    .break 
    {
        flex-basis: 100%;
        height: 0;
    }
     
    .contenedor
    {
        display: flex;
        flex-direction: row;
        width: 92vw;   
        height: 90vh;  
        margin: auto;  
        margin-top: 5vh;
    }

    .imagen-formulario
    {
        background-image: url('../img/3dogs.jpg');
        background-position: center center;
        background-size: cover;
        height: 100%;
        width:40%;
        border-radius: 20px 0px 0px 20px;
    }
    
    .imagen-formulario::before
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );  
        border-radius: 20px 0px 0px 20px;
    }
    
    .formulario
    {
        box-sizing: border-box;
        display: inline-block;
        padding-top: 20vh;
        background-color: var(--azul);
        border-radius: 0px 20px 20px 0px;
        width: 60%;
        height:100%;
    }

    .texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p
    {
        color: var(--blanco);
    }

    .texto-formulario h2
    {
        font-size: 2em;
        text-align: center;
    }

    .texto-formulario p
    {
        font-size: 1.5em;
        text-align: center;
    }

    .input label
    {
        display: block;
        font-size: 1em;
        margin-top: 1vh;
        margin-left: 10%;
        font-weight: bold;
        line-height: 2em;
    }

    .password-olvidada a
    {
        display: inline-block;
        margin-top: 20px;
        font-size: 22px;
    }

    .input input
    {
        display:block;
        width: 80%;
        margin: auto;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 10px;
        border-radius: 5px;
        outline: none;
        font-size:1em;
        border: 0
    }

    .input input[type="submit"]
    {
        background-color: var(--azulGris);
        color: var(--blanco);
        font-size: 1.2em;
        font-weight: bold;
        border: none;
        margin-top: 3vh;
        transition: background-color .3s ease-in-out;
    }

    .input input[type="submit"]:hover{
    
        cursor: pointer;
        background-color: var(--azulOscuro);
    }
}
 
 /* Escritorio */
@media only screen and (min-width: 1200px) 
{
    body
    {
        background-image: url('../img/patitas2.png');
        font-family: var(--fuente);
        background-color: var(--azulOscuro);
        font-family: 'Poppins', sans-serif; 
    }
     
    .break 
    {
        flex-basis: 100%;
        height: 0;
    }
     
    .contenedor
    {
        display: flex;
        flex-direction: row;
        width: 92vw;   
        height: 90vh;  
        margin: auto;  
        margin-top: 5vh;
    }

    .imagen-formulario
    {
        background-image: url('../img/3dogs.jpg');
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 60%;
        border-radius: 20px 0px 0px 20px;
    }
    
    .imagen-formulario::before
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );  
        border-radius: 20px 0px 0px 20px;
    }
    
    .formulario
    {
        box-sizing: border-box;
        display: inline-block;
        padding-top: 20vh;
        background-color: var(--azul);
        border-radius: 0px 20px 20px 0px;
        width: 40%;
        height:100%;
    }

    .texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p
    {
        color: var(--blanco);
    }

    .texto-formulario h2
    {
        font-size: 2em;
        text-align: center;
    }

    .texto-formulario p
    {
        font-size: 1.5em;
        text-align: center;
    }

    .input label
    {
        display: block;
        font-size: 1em;
        margin-top: 1vh;
        margin-left: 10%;
        font-weight: bold;
        line-height: 2em;
    }

    .password-olvidada a
    {
        display: inline-block;
        margin-top: 20px;
        font-size: 22px;
    }

    .input input
    {
        display:block;
        width: 80%;
        margin: auto;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 10px;
        border-radius: 5px;
        outline: none;
        font-size:1em;
        border: 0
    }

    .input input[type="submit"]
    {
        background-color: var(--azulGris);
        color: var(--blanco);
        font-size: 1.2em;
        font-weight: bold;
        border: none;
        margin-top: 3vh;
        transition: background-color .3s ease-in-out;
    }

    .input input[type="submit"]:hover{
    
        cursor: pointer;
        background-color: var(--azulOscuro);
    }   
} 

