@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;600;700 & display=swap');
:root
{
    --azul:#B97375;
    --azulResalta:#815051;
    --azulHover:#96595a;
    --azulOscuro:#F1E4E8;
    --azulGris:#F1E4E8;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
    --padding-container: 100px 0;
    --color-title:#001A49;
}

html
{
    box-sizing: border-box;
}

*,*::after, *::before
{
    box-sizing: inherit;
}

body
{
    background-image: url('../img/patitas2.png');
    font-family: var(--fuente);
    background-color: var(--azulOscuro);
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    overflow: hidden;
}

* 
{
    margin-top: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor 
{   
    margin-top: 80px;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS LISTADO */
.contenedor .div-listado 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    width: 95%;
    height: 95%;
    background-color:#815051;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    overflow: scroll;
}

.contenedor .div-listado h2 
{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1.5em;
    color: whitesmoke;
    display:inline-block;
}

.contenedor .div-listado .div-empleados 
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background-color: beige;
}

.grid-item
{
    border-width: 1px;
    border-top: 0px;
    border-style: solid;
    border-color: black;
}

.div-header
{
    position: sticky;
    top:0;
    align-items: center;
    display: flex;
    width: 100%;
    height: 55px;
    background-color:#815051;
}

.contenedor .div-listado .div-empleados p 
{
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr 
{
    width: 100%;
    height: 1px;
}

.btn 
{
    padding: 5px 10px;
    border: none;   
    color: white;
    border-radius: 10px;
}

.btn-anadir
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
    height:30px;
    width:30px;
}

.btn-editar 
{
    background-color: green;
}

.btn-eliminar 
{
    background-color: red;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario 
{
    width: 30%;
    height: 280px;
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke; 
}

.contenedor .div-formulario form 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button 
{
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}


