/* [Object] Modal
 * =============================== */
 .modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
  }
  
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal-state {
    display: none;
  }
  
  .modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-state:checked + .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: max-content;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }
  
  
  /* Other
   * =============================== */
  body 
  {
    text-align: center;
  }
  
  .btn {
    cursor: pointer;
    background: black;
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 3px;
  }

  .select-box-rol
  {
    border: none;
    appearance: auto;
    width: auto;
    color: #030303;
    border-radius: 5px;
    padding: 3px;
  }

  .password-field-hide
  {
    display: none;
    opacity: 0;
  }

  .password-field-show
  {
    display: block;
    opacity: 1;
  }

  .form-flex-container
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .ui-form
  {
    padding: 20px 10px 30px 0px;
    height:100%;
    width: 100%;
    font-size: 1em;
  }

  .btn-password
  {
    display: flex;
    margin-top: 30px;
    padding: 4px;
  }

  .btn-submit
  {
    display: flex;
    margin-top: 30px;
    padding: 4px;
    margin-left: auto;
  }


  .input-modal
  {
    padding: 3px;
  }

  .field
  {
    margin-top:5px;
  }

  .label-field
  {
    text-align: right;
    display: inline-block;
    width: 80px;
    margin-right: 5px;
  }

  .label-field-password
  {
    text-align: right;
    display: inline-block;
    width: 160px;
    margin-right: 5px;
  }

  .flex
  {
    display: flex;
    align-items: center;
  }

