@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --logoHeight:100%;
}

nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width:100%;
    z-index: 5;
    top: 0;
    background-color: #B97375;
}


.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 98%;
    margin: auto;
}

.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  display: flex;
}

.navbar .nav-container li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  list-style: none;
}

.navbar .nav-container a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

.nav-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 50%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position:absolute;
    top:0;
    z-index: 1;
}

.navbar .menu-items li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: column;
    text-align: right;
    font-size: 1.2rem;
    color: #0e2431;
    height: var(--logoHeight);
}

h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}