@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;600;700 & display=swap');
:root{
    --azul:#B97375;
    --azulOscuro:#F1E4E8;
    --azulGris:#F1E4E8;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
    --padding-container: 100px 0;
    --color-title:#001A49;

}
html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    background-image: url('../img/patitas.jpg');
    font-family: var(--fuente);
    background-color: var(--azulOscuro);
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif; 
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    
}

.contenedorHome{
    

    margin: 5%;
    margin-top: 30vh;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.contenedorMapa{

    height: 50vh;
    margin: 5%;
    display: flex ;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

div#map{
    width: 600px; 
    height: 600px;
}

.imagen-formulario{
    background-image: url('../img/3dogs.jpg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%);
    position: relative;
    border-radius: 5px;
    

    
}

.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );
   
}

@media(min-width:768px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }

}
@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: var(--azul);
    border-radius: 5px;
}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
  
    cursor: pointer;
    background-color: var(--azulOscuro);
}
/*-----------------------filtros de censado---------------------------------------------------------------------------*/
.texto-Filtros{
    color: var(--blanco);
    font-weight: bold;
    font-size: 18px;
    
   
}
.Filtros{
    padding: 50px;
    background-color: var(--azul);
    border-radius: 5px;
}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
    
}

.icon{
    border-left: .5px solid #001A49;
}

.select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: #030303;
    background-color: #F1E4E8;
    font-size: 18px;
    border-radius: 5px;
}


